@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body{
    background-image: #2E5ACE;
    background-image: url(../img/patterns2.svg);
    color: #000;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: left;
    justify-content: left;
}
.btn-circle.btn-xl{
    color: #000;
    border-color: #000;
}
.row{
    height: auto;
    width: auto;
}
.btn-circle.btn-sm {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 10px;
    font-size: 8px;
    text-align: center;
    position: absolute;
}
.btn-circle.btn-md {
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 15px;
    text-align: center;
    position: absolute;
}
.btn-circle.btn-xl {
    width: 190px;
    height: 50px;
    padding: 1px 16px;
    border-radius: 30px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 75%;
    left: 10%;
}
.nav-link{
    color: #000;
}
.nav-link.active {
    color: #ffffff;
  }
.nav-link:hover{
    text-decoration: none;
    /*убрать подчёркивания*/
    color: #ffffff;
    /*цвет при наведении курсора*/}
    .cart{
        position: absolute;
        top: 0%;
        left: 96%;
    }
    .custom{
        position: absolute;
        top: 0%;
        left: 0%;
    }
    #option-1 {
        color: black;
      }
      #option-2 {
        color: blue;
      }
      
      #option-3 {
        color: pink;
      }
      
      #option-4 {
        color: green;
      }
    .spisok1 {
        font-size: 0.9rem;
        padding: 2px 5px;
        position: absolute;
        left: 50%;
        top: 0%;
        border-radius: 10px;
    }
    select {
        font-size: 0.9rem;
        padding: 2px 5px;
        position: fixed;
        border-radius: 10px;
    }
    .spisok2 {
        font-size: 0.9rem;
        padding: 2px 5px;
        position: absolute;
        width: 138px;
        height: 40px;
        left: 59%;
        top: 0%;
        border-radius: 10px;
    }  
    .colos{
        position: absolute;
        height: 40px;
        left: 50%;
        top: 20%;
    }
    .colos2{
        position: absolute;
        height: 40px;
        left: 65%;
        top: 20%;
    }
    .colos3{
        position: absolute;
        height: 40px;
        left: 50%;
        top: 60%;
    }
    .colos4{
        position: absolute;
        height: 40px;
        left: 65%;
        top: 60%;
    }
    .uploaded {
        position: absolute;
        left: 50%;
        top: 10%;
        align-items: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
    }
    .clear {
        position: fixed;
        align-items: center;
        left: 69%;
        top: 25%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        color: white;
    }