@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body{
    background-image: #2E5ACE;
    background-image: url(../img/back.svg);
    color: #000;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: left;
    justify-content: left;
}
.row{
    height: 600px;
}
.star{
  position: absolute;
  top: 80%;
  left: 47%;
}

